@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* color values */
:root {
  --font-family: 'Manrope', sans-serif;  

  --color-bg: #101014;  
  --color-main: #446fff;    
  --color-headtext: #fff; 
  --color-subtext: #979797;
  --color-icons: #ffffff;
  --color-hover: #5c82ff;

 

}